body{
	width: 1508px;
   margin: 0 auto;
   
}
.pricing {
	width: 1508px;
   height: 850px;
	margin: 0 auto;
   background-color: #F5F5F5;
   ;
}

.pricing__header {
	padding-bottom: 79px;
	margin: 0 auto;
}
.pricing__title{
   text-transform: uppercase;
   height: 150px;
   font-family: 'Raleway',sans-serif;
   font-size: 36px;
   text-align: center;
   padding: 50px 0 0 0;
}
.pricing__text {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-style: normal;
	text-align: center;
	color:  #86878B;
	margin: 40px 0 0 0 ;
}
.pricing__line{
	width: 170px;
	height: 1px;
	background-color: #EC7979;
	margin: 0 auto;
}
.pricing__row {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	margin: 0 0 50px 0;
   text-align: center;
}
.first__rectangle{
   font-family: "Open Sans", sans-serif;
   color: #FFFFFF;
   background-color: #333333;
   height: 60px;
   margin-bottom: 1px;
   line-height: 2.3;
   font-size: 24px;
   font-weight: 700;
}
.second__rectangle{
   font-family: "Raleway", sans-serif;
   background-color: #333333;
   height: 100px;
   margin-bottom: 1px;
   color: #FFFFFF;
   font-family: Raleway;
   font-size: 36px;
   font-weight: 700;
   line-height: 2.7;

}
.third__rectangle{
   font-family: "Raleway", sans-serif;
   background-color: #333333;
   height: 50px;
   margin-bottom: 1px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 18px;
   font-style: normal;
   line-height: 2.5;
}
.column__rectangle{
   height: 50px;
   color: #86878B;
   background: #FFFFFF;
   margin-bottom: 1px;
   font-family: Raleway;
   font-size: 18px;
   line-height: 2.5;
}
.column__price {
	margin: 0px 15px;
   width: 370px;
   height: 510px;
}
.column__price:hover {
   position: relative;
	margin: 0px 15px;
   width: 370px;
   height: 510px;
   bottom:30px;
   box-shadow: 0px 10px 10px rgba(0 0 0 / 50%);
}
.stylish {
   height: 442px;
   width: 1510px;
   background-image: url('../../images/stylish/image.jpg');
}
