.banner {
   height: 1026px;
   width: 1510px;
}
.banner__header {
   height: 75px;
   width: 1510px;
   background-color: #000000;
   display: flex;
   position: sticky;
   top: 0px;
   z-index: 4;
}
.banner__logo {
   margin-left: 115px;
   padding-top: 22px;
}
.banner__menu{
   display: flex;
   margin-left: 567px;
}
.banner__menu p{
   height: 75px;
   width: 113px;
   text-align: center;
   color: #FFFFFF;
   background-color: #000000 ;
   font-family: "Open Sans",sans-serif;
   font-weight: 600;
   line-height: 5.2;
}
.banner__row{
   position: relative;
   height: 951px;
   width: 1510px;
   background-image: url(../../images/banner/axit.png);
   display: flex;
   background-size: contain;
   background-repeat: round;
}
.banner__row::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   z-index: 2;
}
.axit__image{
   height: 100px;
   width: 280px;
   padding: 231px 0 0 0;
   margin-left: 170px;
}
.column__axit{
   position: relative;
   z-index: 3;
}
.column__axit h1{
   font-family: "Raleway",sans-serif;
   color: #FFFFFF;
   height:170px ;
   width: 670px;
   padding: 128px 0 0 0;
   margin-left: 170px;
   font-size: 48px;
   font-weight: 500;
   line-height: 56px;
}
.column__axit hr{
   width: 170px;
   height: 1px;
   background-color: #FFFFFF;
   margin: 170px 0 0 170px;
}
.column__axit p{
   height: 42px;
   width: 270px;
   color: #FFFFFF;
   font-family: "Raleway",sans-serif;
   font-size: 18px;
   margin: 42px 0 0 170px;
}
.column__form{
   height: 450px;
   width: 470px;
   background-color: #FFFFFF;
   margin: 208px 0 0 30px;
   border-radius: 10px;
   z-index: 3;
}
.column__form h1{
   font-family: "Open Sans",sans-serif;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 700;
   height: 90px;
   width: 367px;
   margin-left: 53px;
   text-align: center;
   line-height: 3.8;
}
.column__form p{
height: 38px;
width: 370px;
margin-left: 50px;
}
.column__form div{
padding: 45px 0 0 0;
}
.column__input{
   margin-bottom: 33px;
   font-size: 20px;
}
.started__button{
   font-family: "Open Sans",sans-serif;
   font-size: 15px;
   font-weight: 600;
   height: 60px;
   width: 470px;
   color: #FFFFFF;
   background-color: #EC7979;
   margin-top: 96px;
   border-radius:0 0 10px 10px;
}
.started__button:hover{
   background-color: #AB4949;
}
.started__button:active{
   background-color: #EC7979;
   box-shadow: inset 0 0 10px #AB4949;
}
.axit__button{
   font-family: "Open Sans",sans-serif;
   font-size: 18px;
   font-weight: 600;
   color: #FFFFFF;
   background-color: transparent;
   height: 58px;
   width: 270px;
   border: 2px solid #FFFFFF;
   margin: 42px 0 0 170px;
}
.axit__button:hover{
   color: #EC7979;
   border: 2px solid #EC7979;
}
.axit__button:active{
   color: #FFFFFF;
	background-color: #AB4949;
}
.form__input{
   font-family: "Open Sans",sans-serif;
   border-bottom: 1px solid #BDBDBD;
   width: 370px;
   margin-bottom: 50px;
   line-height: 36px;
}