
body{
	width: 1508px;
}
.about{
	background-color: white;
}

.about__body {
	width: 1170px;
	margin: 0 auto;
}

.about__header {
	padding-bottom: 110px;
	padding-top: 50px;
	margin: 0 auto;
}
.about__text {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-style: normal;
	text-align: center;
	color:  #86878B;
	margin: 40px 0 0 0 ;
}
.about__row {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	margin-bottom: 58px;
}
.about__colum {
	padding: 0px 15px;
	flex: 0 0 33.333% ;
}
.about__line{
	width: 145px;
	height: 1px;
	background-color: #EC7979;
	margin: 0 auto;
}

.about__title {
	height: 150px;
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	font-style: normal;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 50px 0 0 0;
}
.item-about__icon {
	display: flex;
	align-items: center;
	justify-content: center ;
	margin: 0 auto;
}
.item-about__title {
	height: 100px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	text-align: center;
	padding: 39px 0 0 0 ;
	margin-bottom: 8px;

}
.item-about__text {
	font-family: 'Raleway', sans-serif;
	height: 105px;
	width: 370px;
	font-size: 18px;
	font-style: normal;
	text-align: center;
}