
.block{
	margin: 0 auto;
	margin-top: 99px;
	height: 540px;
	width: 1170px;
	background-color: white;
}

/*tabs*/
.input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 184px;
	height: 39px;
}
.block__tabs{
	height: 39px;
	width: 555px;
	}
	.tabs__items{
		position: relative;
		font-size: 14px;
		height: 39px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		font-family: 'Open Sans';
		text-align: center;
	}
	.tab{
		position: relative;
		padding-top: 13px;
		height: 39px;
		text-align: center;
		flex-basis: 33.3%;
		border: 1px solid white;
	}
	.tab:hover{
		cursor: pointer;
	}
	#tab-1:checked ~ .tab-1{
		border-radius: 5px 5px 0 0;
		border: 1px solid #C6CBCD;
  }
	#tab-1:checked~.tab-1::before{
		position: absolute;
		content: "";
		width: 182.8px;
		height: 5px;
		left: 0px;
		right: 0;
		bottom: -5px;
		background-color: white;
	}
	#tab-2:checked ~ .tab-2{
		border-radius: 5px 5px 0 0;
		border: 1px solid #C6CBCD;
  }
	#tab-2:checked~.tab-2::before{
		position: absolute;
		content: "";
		width: 182.8px;
		height: 5px;
		left: 0px;
		right: 0;
		bottom: -5px;
		background-color: white;
	}
	#tab-3:checked ~ .tab-3{
		border-radius: 5px 5px 0 0;
		border: 1px solid #C6CBCD;
  }
	#tab-3:checked~.tab-3::before{
		position: absolute;
		content: "";
		width: 182.8px;
		height: 5px;
		left: 0px;
		right: 0;
		bottom: -5px;
		background-color: white;
	}

	#tab-1:checked~#content-1,
	#tab-2:checked~#content-2,
	#tab-3:checked~#content-3 {
		display: block;
	}
	.content{
		display: none;
	}

/*block_row*/
.block__row{
	height: 501px;
	width: 1170px;
	display: flex;
	border: 1px solid #C6CBCD;
	margin: 0 auto;
	margin-bottom: 50px;
}
.item__text{
	padding-top: 41px;
	margin-left: 100px;
}
.item__images{
	height: 500px;
	width: 470px;
	justify-content: right;
	margin-left: 30px;
}
.title{
	padding-top: 40px;
	height: 124px;
	width: 570px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	text-align: left;
	font-size: 30px;
	margin-bottom: 27px;
}
.text{
	font-family: Raleway;
	font-size: 18px;
	text-align: left;
	height: 210px;
	width: 570px;
}
.textbutton{
	float: left;
	color: white;
	background-color: #EC7979;;
	height: 58px;
	width: 270px;
	font-size: 15px;
	font-family: 'Open Sans';
}
.textbutton:hover{
	background-color: #AB4949;
}
.textbutton:active{
	background-color: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
}
